@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <div class="text-center">
        <h1 class="text-danger">Nothing was found</h1>
        <h2 class="text-danger">Please try to change the request again</h2>

    </div>

