.kavo {
    background-image: url("https://images.hdqwalls.com/download/abstract-lines-digital-art-colorful-3g-2048x1152.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.image-dark{
    filter: grayscale(1);
    transition: 1s;
}

.image-dark:hover{
    filter: grayscale(0);
}
