
@model SimpleMovieSearch.Domain.ViewModels.Movie.MovieViewModels

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br />
<div class="container navbar bg-dark col-sm">
    <div class="row">
        <div class="col-sm-2">
            <img src="~/images/fantasty/9cb092305c8e41bd88ada64e0984086c.jpg" 
                 class="img-fluid rounded-start rounded" alt="@Model?.Name">
        </div>
        <div class="col-sm">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Name</h5>
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
                <p class="card-text"><b>Страна: </b>@Model?.Country</p>
                <p class="card-text"><b>Жанр: </b>@Model?.MoviesCategory</p>
            </div>
        </div>
        <div>
            <div class="col-sm">
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>