@{
    ViewData["Title"] = "Home Page";
}




<div class="container navbar bg-dark col-sm">
    <div class="row col-sm-2">
            <div class="card-body">
                <video src="~/video/228.MP4" poster="~/images/horror/9.jpg" controls></video>
            </div>

    </div>
</div>