@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid col-xl-8">
   <p class="card-text">Хм. Вы можете указать атрибут VaryByCustom д
    ля элемента OutputCache. Значение this передается в качестве параметра методу 
    GetVaryByCustomString, который вы можете реа лизовать в global.asax .
    Значение, возвращаемое этим методом, используется в к если вы возвр
    ачестве индекса в кэшированных элементах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - овать в global.asax .
    Значение, возвращаемое этим методом, используется внаример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты странить в global.asax .
    Значение, возвращаемое этим методом, используется внавигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, еовать в glo
    Значение, возвращаемое этим методом, используется всли вы возвр
    ащаете количеств неизменяемые фрагменты стровать в global.asax .
    Значение, возвращаемое этим методом, используется ваницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользованицы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (овать в global.asax .
    Значение, возвращаемое этим методом, используется внавигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, есовать в global.asax .
    Значение, возвращаемое этим методом, используется вли вы возвр
    ащаете количеств неизменяемые фрагменты страницигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемыеовать в global.asax .
    Значение, возвращаемое этим методом, используется вгацию,рекламу, 
    фактическую запись в блоге) в качестве пользовательских элементов управления 
    и реализовать частичное кэширование страницы для каждого из этих пользовательских.
   </p>
   
</div>


