@{
    ViewData["Title"] = "Privacy Policy";
}

<style>

    * {
        box-sizing: border-box;
    }
    body{
        margin: 0;
    }
    .first {
        min-height: 100vh;
        position: relative;

    }
    .first__title {
            position: relative;
            z-index: 10;
    }
    .first__video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

 </style>

<section class="first">
   <p class="card-text first__title">Хм. Вы можете указать атрибут VaryByCustom д
    ля элемента OutputCache. Значение this передается в качестве параметра mетодду 
    GetVaryByCustomString, который вы можете реа лизовать в global.asax .
    Значение, возвращаемое этим методом, используется в к если вы возвр
    ачестве индекса в кэшированных элементах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запирагменты страницигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемые фрагменты страницы (навигацию,рекламу, 
    фактическую запись в блоге) в качестве пользовантах - наример, если вы возвр
    ащаете количеств неизменяемыеовать в global.asax .
    Значение, возвращаемое этим методом, используется вгацию,рекламу, 
    фактическую запись в блоге) в качестве пользовательских элементов управления 
    и реализовать частичное кэширование страницы для каждого из этих пользовательских.
   </p>
    <video src="~/video/228.MP4" muted autoplay loop class="first__video"></video>
</section>

